html {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(255, 255, 255) 60%, rgba(154, 185, 226, 0.479) 100%);
}

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-top: 50px;
    
}

hr {
    width: 500px;
}

#errors {
    color: rgb(247, 78, 17);
}

.light {
    font-weight: lighter;
}
#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid rgb(165, 163, 163);
    border-radius: 3px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Place to select numbers */
#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: rgb(238, 237, 237);
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}